EXPO_PUBLIC_API_URL=http://localhost:8000
EXPO_PUBLIC_ENABLE_MOCKS=false
EXPO_PUBLIC_AUTH_KAKAO_NATIVE_APP_KEY=your-kakao-native-app-key
EXPO_PUBLIC_AUTH_NAVER_CONSUMER_KEY=your-naver-consumer-key
EXPO_PUBLIC_AUTH_NAVER_CONSUMER_SECRET=your-naver-consumer-secret
EXPO_PUBLIC_AUTH_NAVER_APP_NAME=zet
EXPO_PUBLIC_AUTH_APPLE_SERVICE_ID=dev.geniusproject.zet
EXPO_PUBLIC_AUTH_REDIRECT_SCHEME=dev.geniusproject.zet
